@model MyGameScore.Models.Games

@{
    ViewData["Title"] = "Registro de pontos do Basquete";
}

<h2>Excluir jogo?</h2>

@{
    var dataStr = Model.DataJogo.ToString("dd/MM/yy");
}

<div>
    <hr />
    <dl class="col-md-12">
        <div class="col-md-3">
            <div class="col-md-6">
                <dt>
                    Data do jogo
                </dt>
                <dd>
                    @dataStr
                </dd>
            </div>
            <div class="col-md-6">
                <dt>
                    Pontos
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pontos)
                </dd>
            </div>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="List" class="btn btn-default">Voltar</a>
    </form>
</div>
