@model IEnumerable<MyGameScore.Models.Games>

@{
    ViewData["Title"] = "Registro de pontos do Basquete";
    
    var itens = Model.OrderBy(a => a.DataJogo);
}

<script src="https://unpkg.com/feather-icons"></script>

<h3>Listagem de jogos</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Data do jogo
            </th>
            <th>
                Pontos do jogo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in itens) {

        <tr>
            <td class="align">
                @item.DataJogo.ToString("dd/MM/yy")
            </td>
            <td class="align">
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td class="align">
                <a asp-action="Edit" asp-route-id="@item.Id"><i data-feather="edit" class="featherIconEdit"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i data-feather="trash-2" class="featherIconDelete"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>


<script>
    feather.replace()
</script>